.subjectSelect {
  display: inline-block;
  width: 40%;
}

.formDiv {
  text-align: left;
  display: inline-block;
  width: 40%;
}

.newUserForm {
  text-align: center;
}

.textField {
  padding-left: 5px!important;
}

.formButtons {
  margin-top: 20px;
}

.saveButton {
  margin-right: 10px;
}

.errorMsg {
  color: #e51c23;
}
