.newPicDiv {
  margin-top: 20px;
}

.centeredModalTitle {
  text-align: center;
}

.centeredDiv {
  width: 50%;
  margin: 0 auto;
}

.pictureBody {
  display: inline-block;
}

.outerPictureBody {
  width: 100%;
  text-align: center;
}

.centeredModalButtonGroup {
  text-align: center;
}

.uploadModalFooter {
  margin-top: 0;
}
