.intro {
  margin-top: 50px;
  text-align: left;
  width: 600px;
  display: inline-block;
}

.intro > h1 {
  font-size: 42px;
}

.matrixImg {
  text-align: center;
}

.matrixImg img {
  display: inline-block;
}

.authContainer {
  margin-top: 50px;
}

.submitPinButton {

}

.error {
  color: #e51c23;
}
